body {
	margin: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
		"Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav__base {
	height: 8px;
	background-color: #283e4a;
}

.app__content {
	text-align: center;
	padding: 24px;
}

.header__logo {
	padding: 32px 0 24px 0;
}

.header__logo svg {
	width: 84px;
	height: 21px;
	position: relative;
}

.header__content__heading {
	font-size: 1.5rem;
	line-height: 1.33333;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.9);
	padding: 0 0 4px 0;
}

.header__content__subheading {
	line-height: 1.75;
	color: rgba(0, 0, 0, 0.6);
}

.form__input--floating {
	margin: 0 0 12px 0;
}

.form__input--floating input {
	padding: 26px 12px 3px;
	font-size: 1.125rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	z-index: 1;
	position: relative;
	background: transparent;
	color: rgba(0, 0, 0, 0.9);
}

.form__label--floating {
	position: absolute;
	font-size: 1.125rem;
	color: rgba(0, 0, 0, 0.9);
	padding: 14px 0 0 12px;
	transition: 0.2s all;
}

.form__label--floating.transform {
	transform: translateY(-10px);
	font-size: 0.9rem;
}

.show-password__button {
}

.login__form .login__form_action_container {
	display: flex;
	flex-direction: column;
}

.login__form .login__form_action_container--multiple-actions button {
	margin: 4px 4px 12px 4px;
	flex: 1;
	height: 52px;
	border-radius: 2px;
	font-family: inherit;
	font-weight: 600;
	font-size: 1rem;
}

.btn__primary--large {
	background-color: #0073b1;
	border: none;
	color: #fff;
}

.btn__secondary--large {
	background-color: #fff;
	border: 1px solid #0073b1;
	color: #0073b1;
}

a {
	color: #0073b1;
}

form {
	margin-bottom: 24px;
}

@media screen and (min-width: 770px) {
	.login__form .login__form_action_container {
		flex-direction: row;
	}

	form {
		max-width: 384px;
		margin-left: auto;
		margin-right: auto;
	}
}
